body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
 nav {
  text-transform: uppercase;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  position: fixed;
  width: 90vw;
  top: 0;
  z-index: 1000;
  background-color: #000;
}


.logo img {
  height: 60px;          
  width: auto;           
  max-width: 100%;       
  transition: 0.3s ease; 
}


.ul-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.ul-nav li a {
  cursor: pointer;
  position: relative;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}
.ul-nav li ::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #b4977b;
  transition: width 0.3s ease;
}

.ul-nav li :hover::after {
  width: 100%;
}
.ul-nav li :hover{
  color: #b4977b;
}



@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    height: 45px; 
    margin-bottom: 10px;
  }

  .ul-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .ul-nav li a {
    padding: 8px 12px;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
  }
}
section{
  margin-top: 50px;
}
  .texto1{
    color: aliceblue;
    display: flex;
  }
  .texto1 img{
    max-width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 20px;
    object-fit: cover;
  }
  .texto1 h1{
    margin-top: 150px;
    font-family: "Montserrat", sans-serif;
    color: #b4977b;
  }
  .texto1 p{
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
  }
  .escritas1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  .linha-fina {
    border: none; 
    border-top: 1px solid #ccc; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
  .texto2{
    color: aliceblue;
    display: flex;
  }
  .texto2 img{
    max-width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-right: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  .texto2 h1{
    margin-top: 150px;
    font-family: "Montserrat", sans-serif;
    color: #b4977b;
  }
  .texto2 p{
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;

  }
  .escritas2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  section:nth-child(even) .texto2{
    flex-direction: row-reverse;
  }
  .texto3{
    color: aliceblue;
    display: flex;
  }
  .texto3 img{
    max-width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .texto3 h1{
    margin-top: 150px;
    font-family: "Montserrat", sans-serif;
    color: #b4977b;
  }
  .texto3 p{
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
    margin-right: 20px;
  }
  .escritas3{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .texto4{
    color: aliceblue;
    display: flex;
  }
  .texto4 img{
    max-width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-right: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  .texto4 h1{
    margin-top: 150px;
    font-family: "Montserrat", sans-serif;
    color: #b4977b;
  }
  .texto4 p{
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
    margin-right: 20px;

  }
  .escritas4{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  section:nth-child(even) .texto4{
    flex-direction: row-reverse;
  }
  .texto5{
    margin-top: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: #756251;
    padding: 10px;
    margin-bottom: 50px;
  }
  .texto5 h1{
    text-transform: uppercase;
  }
  .texto5 p{
    margin-left: 50px;
    margin-right: 50px;
  }
  .video{
    width: 500px;
    height: 500px;
    
  }
  .div-video{
    margin-top: 30px;
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-bottom: 20px;
  }

@media (max-width: 768px){
    body{
        margin: 0;
        padding: 0;
    }
    .texto1 img{
        margin-top: 150px;
    }
    .escritas1,.escritas2, .escritas3, .escritas4{
        width: 100%;
        margin: 0; 
        padding: 0 15px; 
        box-sizing: border-box;
    }
    .texto1,.texto2, .texto3, .texto4{
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
        padding: 0; 
        margin: 0;
    }
    .texto1 img,.texto2 img, .texto3 img, .texto4 img{
        max-width: 70%;
        height: auto; 
        margin-top: 70px; 
        margin-left: auto; 
        margin-right: auto; 
        margin-bottom: 20px;
    }
    .texto1 h1,.texto2 h1, .texto3 h1, .texto4 h1{
        margin-top: 10px;
    }
    section:nth-child(even) .texto2{
    flex-direction: column;}
    section:nth-child(even) .texto4{
    flex-direction: column;}
    
    .texto1 img{
        margin-top: 150px;
    }
    .texto1 h1,.texto2 h1,.texto3 h1, .texto4 h1{
        text-transform: uppercase;
    }
    
}
footer {
  background-color: #0d0d0d;
  color: #d1d1d1;
  font-family: 'Poppins', sans-serif;
  padding: 40px 10%;
  border-top: 1px solid #222;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-column {
  min-width: 220px;
  flex-direction: column;
  text-align: center;
}

.footer-logo {
  width: 180px;
  margin-bottom: 10px;
}

.footer-column h3 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-column p {
  font-size: 14px;
  line-height: 1.6;
  text-align: start;
  font-family: "Montserrat", sans-serif;
}

.footer-column ul {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* força o empilhamento vertical */
  gap: 8px; /* espaçamento entre os itens */
}

.footer-column ul li {
  display: block;
  font-family: "Montserrat", sans-serif;
}

.footer-column ul li a {
  display: block;
  text-decoration: none;
  color: #bfbfbf;
  font-size: 14px;
  transition: color 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.footer-column ul li a:hover {
  color: #b4977b;
}
.instagram-icon{
  width: 10%;

}
.footer-bt-div {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}

.footer-bt {
  border-radius: 15px;
  width: 60px;
  height: 60px;
  background-color: #0d0d0d;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  font-weight: 550;
  border: 2px solid #b4977b;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bt img {
  width: 24px;
  height: 24px;
  pointer-events: none; /* garante que o hover funcione no botão, não na imagem */
}

.footer-bt:hover {
  background-color: #b4977b;
}

.footer-bottom {
  border-top: 1px solid #222;
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #888;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    margin-bottom: 30px;
  }
}
footer {
  background-color: #000;
}
    