body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
 nav {
  text-transform: uppercase;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  position: fixed;
  width: 90vw;
  top: 0;
  z-index: 1000;
  background-color: #000;
}


.logo img {
  height: 60px;          
  width: auto;           
  max-width: 100%;       
  transition: 0.3s ease; 
}


ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

ul li a {
  cursor: pointer;
  position: relative;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}
ul li ::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #b4977b;
  transition: width 0.3s ease;
}

ul li :hover::after {
  width: 100%;
}
ul li :hover{
  color: #b4977b;
}



@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    height: 45px; 
    margin-bottom: 10px;
  }

  ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  ul li a {
    padding: 8px 12px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-size: large;
  }
}
.banner-galeria{
    z-index: 1;
    position: relative;
    margin-top: 10%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.escritas-banner h1{
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 0%;
    text-transform: uppercase;
    
}
.escritas-banner p{
    margin-top: 1%;
}
@media (max-width: 900px){
    .banner-galeria{
    z-index: 1;
    position: relative;
    margin-top: 20%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;}

    .buttons {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .button-css {
    flex: 1 1 calc(33.33% - 20px); /* 3 botões por linha */
    max-width: 100px;
  }

  /* força os dois últimos botões pra linha de baixo */
  .button-css:nth-child(4),
  .button-css:nth-child(5) {
    flex: 1 1 calc(50% - 20px); /* 2 botões na segunda linha */
  }
  
  }

.buttons{
    margin-top: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    flex-wrap: wrap;
    gap: 10px;
}

.button-css{
    background-color: #000;
    color: aliceblue;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    transition: 0.5s ease;
    border: 2px solid #b4977b;
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    text-align: center;
    
}
.button-css:hover{
    cursor: pointer;
    transform: scale(1.08);
    background-color: #776351;
}
.button-css:active,
.button-css:focus {
  background-color: #776351;
  transform: scale(1.1);}

.gallery {
  display: none; /* escondida por padrão */
  text-align: center;
  margin-top: 20px;
}

.gallery img {
  width: 150px;
  border-radius: 10px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}
