<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='galeria.css') }}?v={{ time }}">
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
function showGallery(id) {
  // esconde todas as galerias
  document.querySelectorAll('.gallery').forEach(g => g.style.display = 'none');

  // mostra apenas a escolhida
  const selected = document.getElementById(id);
  if (selected) {
    selected.style.display = 'grid';
  }
}
function abrirModal(src) {
    const modal = document.getElementById('modal-zoom');
    const imgModal = document.getElementById('img-modal');
    imgModal.src = src; 
    modal.classList.remove('hidden'); 
}

function fecharModal() {
    document.getElementById('modal-zoom').classList.add('hidden'); // Esconde o modal
}
</script>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="#"><img src="{{ url_for('static', filename='imagens/gugologo.webp') }}"></a>
        </div>
        <ul class="ul-nav">
            <li><a href="/" class="active"><strong>Home</strong></a></li>
            <li><a href="/galeria"><strong>Galeria</strong></a></li>
            <li><a href="/estudio"><strong>Estudio</strong></a></li>
            <li><a href="/atendimento"><strong>Atendimento</strong></a></li>
        </ul>
    </nav>
<section class="banner-galeria">
    <div class="escritas-banner">
        <h1>Galeria de inspirações</h1>
        <p>Explore nossa coleção de trabalhos únicos e inspire-se para sua próxima tatuagem</p>
    </div>
</section>
<section>
    <div class="buttons">
            <button class="button-css" onclick="showGallery('gugo')">Gugo Tattoo</button>
            <button class="button-css" onclick="showGallery('edgar')">Edgar</button>
            <button class="button-css" onclick="showGallery('gislaine')">Gislaine</button>
            <button class="button-css" onclick="showGallery('shira')">Shira</button>
            <button class="button-css" onclick="showGallery('luana')">Luana</button>
            <button class="button-css" onclick="showGallery('eryck')">Eryck</button>  
    </div>

    <div class="gallery" id="gugo">
        <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
        <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
        <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
        <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
        <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo11.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
        
    </div>
    <div class="gallery" id="edgar">
        <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    </div>
    <div class="gallery" id="gislaine">
        <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    </div>

    <div class="gallery" id="shira">
        <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    </div>

    <div class="gallery" id="luana">
        <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    </div>
    <div class="gallery" id="eryck">
        <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    </div>
</section>
<footer>
  <div class="footer-container">
    <div class="footer-column">
      <img src="{{ url_for('static', filename='imagens/gugologo.webp') }}" alt="Gugo tattoo" class="footer-logo">
      <p><strong>Cada traço, uma história. <br> A sua pode começar agora.
      </strong></p>
    </div>

    <div class="footer-column">
      <h3>LINKS RÁPIDOS</h3>
      <ul>
        <li><a href="#">O Estúdio</a></li>
        <li><a href="#">Artistas</a></li>
        <li><a href="#">Galeria</a></li>
        <li><a href="#">Orçamento</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>CONTATO</h3>
      <p>Horário de Funcionamento:</p>
      <p>Terça a Sexta: 10h às 20h</p>
      <p>Sábado: 10h às 18h</p>
      <div class="footer-bt-div">
        <button class="footer-bt">
          <img src="{{ url_for('static', filename='imagens/instagram.svg') }}" alt="">
        </button>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Gugo Tattoo. Todos os direitos reservados</p>
    <p>Rua João Bueno, 155, Guarulhos, SP</p>
  </div>
</footer>
<div 
  id="modal-zoom" 
  class="hidden fixed inset-0 flex items-center justify-center bg-black/90 z-50"
  onclick="fecharModal()"
>
  <img id="img-modal" src="" class="max-w-[80%] max-h-[80%] rounded-lg shadow-2xl">
</div>

</body>
</html>