<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='galeria.css') }}?v={{ time }}">
    <script src="https://cdn.tailwindcss.com"></script>
    
<script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/ScrollTrigger.min.js"></script>
    <script>
        
function showGallery(id) {
  // esconde todas as galerias
  document.querySelectorAll('.gallery').forEach(g => g.style.display = 'none');

  // mostra apenas a escolhida
  const selected = document.getElementById(id);
  if (selected) {
    selected.style.display = 'grid';
  }
}
function abrirModal(src) {
    const modal = document.getElementById('modal-zoom');
    const imgModal = document.getElementById('img-modal');
    imgModal.src = src; 
    modal.classList.remove('hidden'); 
}

function fecharModal() {
    document.getElementById('modal-zoom').classList.add('hidden'); // Esconde o modal
}
</script>
</head>
<body>
    <nav>
    <div class="logo">
        <a href="#"><img src="{{ url_for('static', filename='imagens/gugologo.webp') }}" class="animar-esquerda"></a>
    </div>

    <div class="menu-toggle" id="mobile-menu">
        <span class="bar">sdf</span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <ul class="ul-nav aparecer" id="nav-list">
        <li><a href="/" class="active"><strong>home</strong></a></li>
        <li><a href="/galeria"><strong>Galeria</strong></a></li>
        <li><a href="/estudio"><strong>Estudio</strong></a></li>
        <li><a href="/atendimento"><strong>Atendimento</strong></a></li>
    </ul>
</nav>
<section class="banner-galeria">
    <div class="escritas-banner">
        <h1 class="aparecer">Galeria de inspirações</h1>
        <p class="aparecer">Explore nossa coleção de trabalhos únicos e inspire-se para sua próxima tatuagem</p>
    </div>
</section>
<section>
    <div class="buttons">
            <button class="button-css animar-esquerda" onclick="showGallery('gugo')">Gugo Tattoo</button>
            <button class="button-css aparecer" onclick="showGallery('edgar')">Edgar</button>
            <button class="button-css animar-direita" onclick="showGallery('gislaine')">Gislaine</button>
            <button class="button-css animar-esquerda" onclick="showGallery('shira')">Shira</button>
            <button class="button-css aparecer" onclick="showGallery('luana')">Luana</button>
            <button class="button-css animar-direita" onclick="showGallery('eryck')">Eryck</button>  
    </div>

    <div class="gallery" id="gugo">
        <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
        <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
        <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
        <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
        <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gugotattoo/tattoo11.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
        
    </div>
    <div class="gallery" id="edgar">
        <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/edgartattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    </div>
    <div class="gallery" id="gislaine">
        <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/gihtattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    </div>

    <div class="gallery" id="shira">
        <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/shiratattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    </div>

    <div class="gallery" id="luana">
        <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/luanatattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    </div>
    <div class="gallery" id="eryck">
        <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo1.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo2.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo3.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo4.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo5.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo6.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo7.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo8.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo9.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    <img 
        src="{{ url_for('static', filename='imagens/erycktattoo/tattoo10.webp') }}" 
        onclick="abrirModal(this.src)" 
        class="cursor-pointer transition-transform duration-300 hover:scale-105"
    >
    </div>
</section>
<footer>
  <div class="footer-container">
    <div class="footer-column">
      <img src="{{ url_for('static', filename='imagens/gugologo.webp') }}" alt="Gugo tattoo" class="footer-logo">
      <p><strong>Cada traço, uma história. <br> A sua pode começar agora.
      </strong></p>
    </div>

    <div class="footer-column">
      <h3>LINKS RÁPIDOS</h3>
      <ul>
        <li><a href="#">O Estúdio</a></li>
        <li><a href="#">Artistas</a></li>
        <li><a href="#">Galeria</a></li>
        <li><a href="#">Orçamento</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>CONTATO</h3>
      <p>Horário de Funcionamento:</p>
      <p>Terça a Sexta: 10h às 20h</p>
      <p>Sábado: 10h às 18h</p>
      <div class="footer-bt-div">
        <button class="footer-bt">
          <img src="{{ url_for('static', filename='imagens/instagram.svg') }}" alt="">
        </button>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Gugo Tattoo. Todos os direitos reservados</p>
    <p>Rua João Bueno, 155, Guarulhos, SP</p>
  </div>
</footer>
<div 
  id="modal-zoom" 
  class="hidden fixed inset-0 flex items-center justify-center bg-black/90 z-50"
  onclick="fecharModal()"
>
  <img id="img-modal" src="" class="max-w-[80%] max-h-[80%] rounded-lg shadow-2xl">
</div>

<script>
  // Registra o plugin no GSAP
gsap.registerPlugin(ScrollTrigger);

// Função para configurar as animações
function initAnimations() {

    // 1. ANIMAÇÃO: DA ESQUERDA PARA DIREITA
    document.querySelectorAll('.animar-esquerda').forEach(el => {
        gsap.from(el, {
            x: -100,          // Começa 100px à esquerda
            opacity: 0,       // Começa invisível
            duration: 1.2,
            ease: "power2.out",
            scrollTrigger: {
                trigger: el,       // O gatilho é o próprio elemento
                start: "top 85%",  // Começa quando o topo do item atinge 85% da tela
                toggleActions: "play none none none" // Toca apenas uma vez
            }
        });
    });

    // 2. ANIMAÇÃO: DA DIREITA PARA ESQUERDA
    document.querySelectorAll('.animar-direita').forEach(el => {
        gsap.from(el, {
            x: 100,           // Começa 100px à direita
            opacity: 0,
            duration: 1.2,
            ease: "power2.out",
            scrollTrigger: {
                trigger: el,
                start: "top 80%",
                toggleActions: "play none none none"
            }
        });
    });

    // 3. ANIMAÇÃO: APARECER (Crescer/Surgir de baixo)
    
        // 3. ANIMAÇÃO: APARECER (Individual para cada item)
document.querySelectorAll('.aparecer').forEach(el => {
    gsap.from(el, {
        y: 50,
        opacity: 0,
        duration: 1,
        ease: "power2.out",
        scrollTrigger: {
            trigger: el,       // O gatilho agora é o próprio elemento atual (el)
            start: "top 90%",  // Dispara quando o elemento entra na tela
            toggleActions: "play none none none"
        }
    });
});
    };

    


// Inicia as animações apenas após o carregamento total da página
window.addEventListener('load', initAnimations);
</script>
<script>
    const menu = document.querySelector('#mobile-menu');
    const menuLinks = document.querySelector('#nav-list');

    menu.addEventListener('click', function() {
        menu.classList.toggle('is-active'); // Anima o hambúrguer
        menuLinks.classList.toggle('active'); // Abre/fecha o menu
    });

    // Fecha o menu ao clicar em um link
    document.querySelectorAll('.ul-nav li a').forEach(link => {
        link.addEventListener('click', () => {
            menu.classList.remove('is-active');
            menuLinks.classList.remove('active');
        });
    });
</script>
</body>
</html>